# javascript
**/node_modules
**/dist

# typescript
*.tsbuildinfo
next-env.d.ts

# vite
**/.vite

# nextjs
**/.next/
/out/

# serverless
**/.serverless

# python
**/.venv
**/__pycache__

# terraform
**/.terraform
**/terraform.tfstate.backup
**/terraform.tfvars

# Logs
*.log*

# Editor directories and files
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macos
**/.DS_Store

# dependencies
**/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# production
/build

# misc
*.pem

# local env files
**/.env*

# Sentry Config File
.env.sentry-build-plugin
