{
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "releaseRules": [
          { "type": "feat", "scope": "authorizer", "release": "minor" },
          { "type": "fix", "scope": "authorizer", "release": "patch" },
          { "type": "chore", "scope": "authorizer", "release": "patch" },
          { "type": "feat", "scope": "!authorizer", "release": false },
          { "type": "fix", "scope": "!authorizer", "release": false },
          { "type": "chore", "scope": "!authorizer", "release": false }
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
        "@semantic-release/npm",
        {
          "npmPublish": false
        }
    ],
    [
      "@semantic-release/exec",
      {
        "generateNotesCmd": "npx conventional-changelog -p angular -i CHANGELOG.md -s -r 0 -k ./changelog.config.js"
      }
    ],
    "@semantic-release/git",
    "@semantic-release/github"
  ],
  "branches": [
    "staging"
  ],
  "tagFormat": "authorizer-v${version}"
}
