{
  "extends": "../.releaserc",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "releaseRules": [
          { "type": "feat", "scope": "web", "release": "minor" },
          { "type": "fix", "scope": "web", "release": "patch" },
          { "type": "chore", "scope": "web", "release": "patch" }
        ]
      }
    ]
  ]
}
